[submodule "tools/common"]
	path = tools/common
	url = https://github.com/booyaa-nw/common.git
[submodule "tools/ipcalc"]
	path = tools/ipcalc
	url = https://github.com/booyaa-nw/ipcalc.git
[submodule "tools/mping"]
	path = tools/mping
	url = https://github.com/booyaa-nw/mping.git
[submodule "tools/net_config"]
	path = tools/net_config
	url = https://github.com/booyaa-nw/net_config.git
